*.apk
*.ap_
*.aab
                           
*.dex
                            
*.class
                            
bin/
gen/
                            
local.properties
                        
Thumbs.db
                
.DS_Store
                            
*.iml
.idea
.gradle
build/
.navigation
captures/
output.json 
    
obj/
.externalNativeBuild